.app-container {
    height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

app-logo-animation {
    display: none;
}


@media (min-width: 800px) {
    .mobile-only {
        display: none;
    }
}